.register-page-child {
  position: absolute;
  top: -12px;
  left: -22px;
  background: linear-gradient(168.03deg, #4776e6 2.83%, #8e54e9);
  width: 472px;
  height: 969px;
}
.login-button-item {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  border-radius: var(--br-5xl);
  width: 140px;
  height: 42px;
}
.login4 {
  position: absolute;
  top: 9px;
  left: 43px;
  mix-blend-mode: multiply;
}
.login-button1 {
  position: absolute;
  top: 845px;
  left: calc(50% - 70px);
  width: 140px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-lgi);
}
.existing-user {
  position: absolute;
  top: 818px;
  left: 158px;
  text-decoration: underline;
  color: var(--color-white);
}
.continue-with-google-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-100);
  width: 321px;
  height: 47px;
}
.continue-with-google3 {
  position: absolute;
  top: 14px;
  left: 96px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.flat-color-iconsgoogle1 {
  position: absolute;
  top: 8px;
  left: 59px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.continue-with-google2 {
  position: absolute;
  top: 422px;
  left: 2px;
  width: 321px;
  height: 47px;
  cursor: pointer;
}
.register-trigger-child {
  position: absolute;
  top: 394px;
  left: 180px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 143px;
  height: 0;
}
.or1 {
  position: absolute;
  top: 385px;
  left: 152px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.register-trigger-item {
  position: absolute;
  top: 394px;
  left: 2px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 143px;
  height: 0;
}
.create-account-child {
  position: absolute;
  top: 0;
  left: calc(50% - 88.5px);
  border-radius: var(--br-5xl);
  width: 177px;
  height: 42px;
}
.create-account1 {
  position: absolute;
  top: 9px;
  left: 17px;
  mix-blend-mode: multiply;
}
.create-account {
  position: absolute;
  top: 334px;
  left: calc(50% - 87.5px);
  width: 177px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-mediumslateblue-200);
}
.re-enter-password-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-300);
  width: 321px;
  height: 47px;
}
.icround-password-icon1 {
  position: absolute;
  top: 13px;
  left: 11px;
  width: 28px;
  height: 22px;
  overflow: hidden;
}
.re-enter-password1 {
  position: absolute;
  top: 14px;
  left: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.password2,
.re-enter-password {
  position: absolute;
  top: 274px;
  left: 2px;
  width: 321px;
  height: 47px;
}
.password2 {
  top: 218px;
}
.carbonphone-filled-icon {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.phone,
.phone1 {
  position: absolute;
}
.phone1 {
  top: 12px;
  left: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.phone {
  top: 162px;
  left: 2px;
  width: 321px;
  height: 47px;
}
.carbonemail-icon1 {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.email1,
.email2 {
  position: absolute;
}
.email2 {
  top: 13px;
  left: 49px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.email1 {
  top: 106px;
  left: 2px;
  width: 321px;
  height: 47px;
}
.wpfname-icon {
  top: 10px;
  left: 12px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.name1,
.name2,
.wpfname-icon {
  position: absolute;
}
.name2 {
  top: 13px;
  left: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.name1 {
  top: 50px;
  left: 2px;
  width: 321px;
  height: 47px;
}
.register {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.logo-2-icon,
.register-trigger {
  position: absolute;
  top: 279px;
  left: 51px;
  width: 323px;
  height: 469px;
}
.logo-2-icon {
  top: 43px;
  left: 0;
  width: 428px;
  height: 220px;
  object-fit: cover;
}
.register-page {
  width: 100%;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 926px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-quicksand);
}
