.front-page-child {
  position: absolute;
  top: -12px;
  left: -22px;
  background: linear-gradient(168.03deg, #4776e6 2.83%, #8e54e9);
  width: 472px;
  height: 969px;
}
.logo-1-icon {
  position: absolute;
  top: 367px;
  left: 5px;
  border-radius: 11px;
  width: 423px;
  height: 192px;
  object-fit: cover;
}
.from-bottom-to {
  position: absolute;
  top: 496px;
  left: calc(50% - 76px);
}
.front-page {
  width: 100%;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 926px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
