.hndphn-icon1,
.lap-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 386px;
  height: 217px;
  object-fit: cover;
}
.lap-icon1 {
  left: 483px;
}
.mob-icon1 {
  top: 0;
  left: 966px;
  object-fit: cover;
}
.hndphn-icon2,
.mob-icon1,
.property-1slider-img-1 {
  position: absolute;
  width: 386px;
  height: 217px;
}
.property-1slider-img-1 {
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.hndphn-icon2 {
  top: 0;
  left: -483px;
  object-fit: cover;
}
.property-1slider-img-2 {
  top: 20px;
  left: 458px;
  overflow: hidden;
}
.hndphn-icon3,
.property-1slider-img-2,
.property-1slider-img-3 {
  position: absolute;
  width: 386px;
  height: 217px;
}
.hndphn-icon3 {
  top: 0;
  left: -966px;
  object-fit: cover;
}
.property-1slider-img-3 {
  top: 20px;
  left: 896px;
  overflow: hidden;
}
.deal-slider1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  height: 257px;
  overflow: hidden;
}
